.dashboard {
    padding: 1.25rem 0rem;
}
.dashboard--navbar {
    display: flex;
}
.dashboard--navbar__logo {
    display: flex;
    width: fit-content;
    gap: 8px;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
}
.dashboard--navbar__logo-icon {
    font-size: 2.3rem;
    display: block;
}
.dashboard--navbar__buttons {
    display: flex;
    margin-left: auto;
    gap: 15px;
}
.dashboard--navbar__theme-toggle-icon {
    font-size: 1.5rem;
    display: block;
}
.dashboard--navbar__dropdown-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard--navbar__avatar {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 100%;
    overflow: hidden;
    outline: 3px solid var(--brand-black);
}
.dashboard--navbar__avatar-image {
    width: 100%;
    height: 100%;
    display: block;
}
.dashboard--navbar__avatar-fallback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--brand-black);
    color: var(--brand-white);
}
.dashboard--navbar__avatar-error-icon,
.dashboard--navbar__avatar-loader-icon {
    font-size: 1.3rem;
    display: block;
}
.dashboard--navbar__dropdown-content {
    padding: 12px 8px;
    background-color: var(--brand-black);
    border-radius: 10px;
    display: flex;
    gap: 2px;
    flex-direction: column;
}
.dashboard--navbar__dropdown-item {
    color: var(--brand-white);
    font-size: 1rem;
    text-transform: capitalize;
    padding: 8px 12px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}
.dashboard--navbar__dropdown-item:hover {
    background-color: var(--brand-white);
    color: var(--brand-black);
}
.dashboard--navbar__dropdown-separator {
    height: 2px;
    width: 100%;
    background-color: var(--brand-white);
    display: block;
}
.dashboard--searchbar {
    margin-top: 1.25rem;
}
.dashboard--searchbar__search {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 7px 12px;
    border: 2.5px solid var(--brand-pale-white);
    background-color: var(--brand-pale-white);
    transition: 0.3s;
}
.dashboard--searchbar__search:hover,
.dashboard--searchbar__search:focus-within {
    border: 2.5px solid var(--brand-black)
}
.dashboard--searchbar__search-icon {
    font-size: 1.2rem;
    display: block;
}
.dashboard--searchbar__search-input {
    color: var(--brand-black);
    font-weight: 500;
    font-size: 1.1rem;
    outline: none;
    flex-grow: 1;
}
.dashboard--searchbar__search-input::placeholder {
    text-transform: capitalize;
    color: var(--brand-black);
    opacity: 0.4;
}
.dashboard--searchbar__search-dropdown-ctn {
    position: relative;
    top: 10px;
}
.dashboard--searchbar__search-dropdown {
    width: 100%;
    background-color: var(--brand-white);
    position: absolute;
    top: 0;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgb(167, 167, 167),
        -4px -4px 5px rgb(167, 167, 167);
}
.dashboard--searchbar__search-dropdown-result-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 3px;
    padding: 10px;
}
.dashboard--searchbar__search-dropdown-result {
    padding: 8px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
}
.dashboard--searchbar__search-dropdown-result:hover {
    background-color: var(--brand-black);
    color: var(--brand-white)
}
.dashboard--searchbar__search-dropdown-result:hover * {
    color: var(--brand-white);
    fill: var(--brand-white);
}
.dashboard--searchbar__search-result-icon {
    font-size: 1.3rem;
    color: var(--brand-black);
    fill: var(--brand-black);
    pointer-events: none;
}
.dashboard--searchbar__search-result-group {
    display: flex;
    flex-direction: column;
    pointer-events: none;
}
.dashboard--searchbar__search-result-info {
    color: var(--brand-black);
    text-transform: capitalize;
    pointer-events: none;
}
.dashboard--searchbar__search-result-city {
    color: var(--brand-black);
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 700;
    pointer-events: none;
}
.dashboard--searchbar__search-dropdown-loader,
.dashboard--searchbar__search-dropdown-error,
.dashboard--searchbar__search-dropdown-not-found {
    display: flex;
    height: 20vh;
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: var(--brand-black);
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: capitalize;
    padding: 20px 20px;
}
.dashboard--searchbar__search-dropdown-load-icon,
.dashboard--searchbar__search-dropdown-error-icon,
.dashboard--searchbar__search-dropdown-not-found-icon {
    fill: var(--brand-black);
    display: block;
    font-size: 1.5rem;
}

.dashboard--summary {
    background-color: var(--brand-black);
    border-radius: 8px;
    margin-top: 10px;
    height: clamp( 200px, 20vh, auto );
    overflow: hidden;
}


.dashboard--subheading {
    text-transform: capitalize;
    margin-top: 30px;
}
.dashboard--forecast {
    padding: 15px 0px;
}

.dashboard--dialog__text {
    color: var(--brand-white);
    text-align: center;
}
.dashboard--dialog__form {
    margin-top: 20px;
}
.dashboard--dialog__form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dashboard--dialog__form-label {
    color: var(--brand-white);
    text-transform: capitalize;
    font-weight: 600;
}
.dashboard--dialog__form-input {
    border: 2px solid var(--brand-white);
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--brand-white);
    font-weight: 600;
    font-size: 1.1rem;
}
.dashboard--dialog__form-message {
    color: var(--brand-white);
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}
.dashboard--dialog__form-message-icon {
    fill: var(--brand-white);
}
.dashboard--dialog__form-submit-btn {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--brand-white);
    color: var(--brand-black);
    font-size: 1rem;
    text-transform: capitalize;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.dashboard--dialog__preview-image {
    width: 50px;
    height: 50px;
}
.dashboard--dialog__dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    gap: 15px;
    background-color: var(--brand-pale-white);
    border: 3px solid transparent;
    margin-top: 20px;
    border-radius: 8px;
}
.dashboard--dialog__dropzone[data-drag-active="true"] {
    background-color: transparent;
    border-color: var(--brand-pale-white);
}
.dashboard--dialog__dropzone[data-drag-reject="true"] {
    background-color: transparent;
    border-color: red;
}
.dashboard--dialog__dropzone-icon {
    fill: var(--brand-black);
    font-size: 1.8rem;
}
.dashboard--dialog__dropzone[data-drag-active="true"] .dashboard--dialog__dropzone-icon {
    fill: var(--brand-white);
}
.dashboard--dialog__dropzone-text {
    color: var(--brand-black);
    text-align: center;
    font-weight: 500;
}
.dashboard--dialog__dropzone[data-drag-active="true"] .dashboard--dialog__dropzone-text {
    color: var(--brand-white);
}
.dashboard--dialog__upload-btn {
    background-color: var(--brand-white);
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 8px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.dashboard--dialog__photo-preview {
    margin-top: 20px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}
.dashboard--dialog__preview-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}
