.signin {
    height: 100dvh;
    display: flex;
}
img {
    height: 200px;
    width: auto;
}
.signin--form {
    width: 30%;
    padding: 50px 30px;
}


.form-logo {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    width: fit-content;
    margin: 0px auto;
}
.form-logo__icon {
    display: block;
    font-size: 2.3rem;
}


.signin--form__field-group {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-top: 40px;
}
.signin--form__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.signin--form__label {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}
.signin--form__message {
    display: flex;
    gap: 10px;
    align-items: center;
}
.signin--form__message-icon {
    display: block;
}
.signin--form__input {
    padding: 10px 20px;
    outline: none;
    border: 2px solid var(--brand-black);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
}
.signin--form__password-ctn {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid var(--brand-black);
    padding: 10px 20px;
    border-radius: 8px;
}
.signin--form__password-input {
    flex-grow: 1;
    font-size: 1.2rem;
    outline: none;
    border: none;
}
.signin--form__password-toggle {
    font-size: 1.5rem;
}
.signin--form__password-icon {
    display: block;
}
.signin--form__forgot-password-text {
    text-align: right;
    display: block;
    margin-top: 20px;
    text-transform: capitalize;
}
.sigin--form__submit-btn,
.signin--form__social-btn {
    padding: 10px 20px;
    width: 100%;
    background-color: var(--brand-black);
    color: var(--brand-white);
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
}
.signin--form__social-ctn {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.signin--form__social-btn {
    background-color: var(--brand-pale-white);
    color: var(--brand-black);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-weight: 500;

}
.signin--form__social-btn-icon {
    display: block;
    fill: var(--brand-black);
}


.form--carousel {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}
.form--carousel__track {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 0.5s;
}
.form--carousel__item {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
}
.form--carousel__item-image {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.form--carousel__item-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 1.5rem;
    text-transform: capitalize;
    background-color: var(--brand-white);
    padding: 20px 30px;
    border-radius: 10px;
}

.signin--form__submit-content {
    color: var(--brand-white);
    text-transform: capitalize;
    text-align: center;
}